.advice {
  font-family: $page-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.advice--form {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .advice--form {
    border-bottom: none;
  }
}

.advice-wrapper {
  position: relative;
  width: 320px;
  min-height: 160px;
  margin-bottom: 35px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;

  img {
    display: block;
    width: 229px;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.advice-wrapper--form {
  position: relative;
  width: 320px;
  min-height: 160px;
  margin-bottom: 35px;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;

  img {
    display: block;
    width: 229px;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.advice__image {
  position: relative;
  width: 320px;
  min-height: 160px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .advise__image img {
    width: 458px;
    padding-top: 94px;
  }
}

@media (min-width: $desktop-width) {
  .advice__image img {
    padding-top: 101px;
  }
}

.advice__image--index {
  min-height: 389px;
  margin-bottom: 40px;
  background-size: cover;
  background-image: url("../img/triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;

  img {
    width: 280px;
    padding-top: 90px;
  }
}

@media (min-width: $tablet-width) {
  .advice__image--index img {
    width: 460px;
    padding-top: 78px;
  }
}

@media (min-width: $tablet-width) {
  .advice__image {
    width: 100%;
    background-image: url("../img/back-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .advice__image {
    width: 100%;
    background-image: url("../img/back-desktop.jpg");
  }
}

.advice__image--form {
  position: relative;
  width: 320px;
  min-height: 214px;
  margin-bottom: 35px;
  background-image: url("../img/triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

@media (min-width: $desktop-width) {
  .advice__image--form {
    width: 100%;
    background-image: url("../img/back-desktop@1x.jpg");
  }

  &--form {
    min-height: 301px;
    margin-bottom: 111px;
  }
}

.advice__slogan {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .advice__slogan {
    font-size: 30px;
  }
}

.advice__intro {
  margin: 0;
  padding: 25px 0 0;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advice__intro--form,
.advice__intro--catalog {
  width: 275px;
  margin: 0 auto;
  padding-top: 25px;
  line-height: 24px;
}

.advice__intro--catalog {
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .advice__intro--catalog {
    width: 458px;
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .advice__intro--catalog {
    padding-bottom: 67px;
  }
}

.advice__intro--form {
  padding-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .advice__intro--form {
    width: 445px;
    padding-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .advice__intro--form {
    padding-bottom: 31px;
  }
}
