.advice {
  font-family: $page-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.advice--form {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 9px;
}
