.copyright {
  width: 146px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 0 20px 8px;
  margin: 0 auto;
  text-align: left;
}

.copyright__info {
  margin-right: 7px;
}

.copyright__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 40px;
}
