.feature-photo {
  position: relative;
  font-family: $page-font;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  min-height: 191px;
  background-color: $main-blue;
  color: $white;
  padding-top: 37px;
}

.feature-photo-wrapper {
  position: relative;
  width: 100%;
  height: 211px;
  padding-top: 59px;
  background-image: url("../img/white-triangle.svg");
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .feature-photo-wrapper {
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .feature-photo-wrapper {
    background-image: none;
  }
}

.feature-photo__title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feature-photo__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-photo__description {
  width: 280px;
  margin: 15px auto 0;
  padding: 0 0 39px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-photo__image {
  width: 100%;
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-photo__img {
  display: block;
}

.feature-photo--second {
  min-height: 211px;
  padding-top: 57px;
}

.feature-photo--first {
  padding-top: 0;
}
