.form-chbx {
  position: relative;
  margin: 0;
  padding: 0;
  width: 280px;
  min-height: 58px;
  margin-bottom: 19px;
}

.form-chbx__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
