.map {
  position: relative;
  width: 100%;
  min-height: 350px;
  background-color: #f3f1ed;
  background-image: url("/source/img/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
